.alert {
    padding: 10px;
    background-color: #1f4454; /* Red */
    color: white;
    width: 25%;
  }
  /* The close button */
  .closebtn {

    color: white;
    font-weight: bold;
    float: right;
    font-size: 28px;
    line-height: 25px;
  }

.btn{    
        background-color: silver;
        border-radius: 40px;
        border: 0;
        font-size: 1.8rem;
       font-weight: 600;
       margin:  1rem 0;
}





